.footer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color:#F5F5F5;
    padding: 20px;
}
.content{
    width:80%;
    display: flex;
    justify-content: space-between;
    align-items:center;
    margin-top: 40px;
}
.contentLeft{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 45%;
}
.title {
    color:#4440FF ;
}
.iconsContainer {
    display: flex;
}
.icon {
    width:50px;
    height:50px;
    color: #B4ACAC;
    margin-right:30px;
}
.icon:hover {
    color:#E18B66;
    cursor: pointer;
}
.iconTop:hover {
    color:#E18B66;
    cursor: pointer;
}
.iconTop {
    width:50px;
    height:50px;
    color: #B4ACAC;
}
.textContact {
    color:#B4ACAC;
    margin-bottom: 30px;
    margin-top: 0px;
}
.coloredWord {
    color:#E18B66;
    font-weight: bolder;
}
.text {
    color:#B4ACAC;
    font-size: 0.8em;
    margin-top: 40px;
    margin-bottom: 0px;
}

    /* SMALL SCREEN */

@media screen and (max-width: 768px) {
    .content{
        width:100%;
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
    .contentLeft{
        width:100%;
    }
    .icon {
        width:35px;
        height:35px;
        margin-right:20px;
    }
    .iconTop {
        width:35px;
        height:35px;
    }
    .text {
        font-size: 0.5em;
        margin-top: 20px;
    }
    .textContact {
        font-size: 1em;
    }
}