.input{
    margin-bottom: 10px;
    background-color: white;
    padding:10px;
    border: #B4ACAC solid 1px;
    text-align: start;
    font-family:'Inter';
    font-weight: 300;
    resize:none;
}
.input::placeholder{
    color:#B4ACAC;
    font-family:'Inter';
    font-weight: 300;
}
.button {
    width:30%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: #B4ACAC solid 1px;
    color:#B4ACAC;
    background-color: white;
}
.button:hover{
    border: #E18B66 solid 1px;
    background-color: #E18B66;
    color:white;
    cursor: pointer;

}
.icon {
    border-color: #B4ACAC;
    margin-left:5px;
}

.formContainer {
    width:100%;
    display: flex;
    width:20vw;
    flex-direction: column;
    justify-content: flex-start;
}
.message {
    color:#4440FF ;
    font-size: 1em;
    font-weight: bolder;
}