.header {
	display: flex;
    flex-direction: column;
	width: 100vw;
	height: 100vh;
	background-color: #77BDC3;
	padding-top: 50px;
    padding-bottom: 200px;
    padding-left: 150px;
    padding-right: 50px;
}
.tabsContainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.tabs {
    margin-left: 50px;
    color: white;
    font-size: 1.2em;
    letter-spacing: 2px;
    font-weight: 300;
}
.tabs:hover{
    color: #4440FF;
    cursor: pointer;
}
.textContainer {
    display: flex;
    flex-direction: column;
    margin-top: auto;
    width:50%;
}
.title {
    color: white;
}
.firstname {
    color:#E18B66;
}
.buttonContact {
    width:17%;
    margin-top: 50px;
}
.buttonContact:hover {
    color: #4440FF;
    border-color: #4440FF;
    cursor: pointer;
}
.subtitle {
    color:#4440FF;
    font-size: 2em;
    letter-spacing: 2px;
    font-weight: 400;
}
