.projectsContainer {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin: auto;
    width: 80%;
    padding-top: 50px;
}
.square {
    background-color: #F5F5F5;
    position: relative;
}
.squareWhite {
    background-color: white;
    position: relative;
}
.squareWhite::after {
    content:"";
    padding-top:100%;
    display: block;
}
.square::after {
    content:"";
    padding-top:100%;
    display: block;
}
.content {
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
}
.contentImage {
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    width:100%;
    height:100%;
    
}
.number {
    color: white;
    font-size: 1.5em;  
    font-family:'Inter';
    font-weight: 300;
}
.description {
    color: white;
    font-size: 1em;
}
.buttons {
    display: flex;
    margin-top: 30px;
}
.projectTitle {
    color: white;
}
.buttnBlue {
    width:100px;
    text-align: center;
    justify-content: center;
    font-family: 'Inter';
    letter-spacing: 2px;
    font-weight:300;
    font-size: auto;
    cursor: pointer;
  }

.buttnBlue:hover {
    cursor: pointer;
    border:none;
    background-color: #E18B66;
}
.buttnOrange {
    width:100px;
    text-align: center;
    justify-content: center;
    font-family: 'Inter';
    letter-spacing: 2px;
    font-weight:300;
    font-size: auto;
    cursor: pointer;
  }

.buttnOrange:hover {
    cursor: pointer;
    border:none;
    background-color: #4440FF;
}
.buttnGreen {
    width:100px;
    text-align: center;
    justify-content: center;
    font-family: 'Inter';
    letter-spacing: 2px;
    font-weight:300;
    font-size: auto;
    cursor: pointer;
  }

.buttnGreen:hover {
    cursor: pointer;
    border:none;
    background-color: #F5F5F5;
    color: #77BDC3;
}
.skills {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 0px;
}
.skills p {
    font-size: 0.7em;
}
.skillsTextBlue {
    color: #4440FF;
    font-weight: bolder;
}
.skillsTextOrange {
    color: #E18B66;
    font-weight: bolder;
}
.skillsTextGreen {
    color: #77BDC3;
    font-weight: bolder;
}
.imageContainer {
    opacity: 70%;
    width:100%;
    height:85%;
    padding: 20px;
    margin-bottom: 20px;
    position: relative;
}
.image {
    object-fit:contain;

}

/* MEDIUM SCREEN */

@media screen and (max-width: 1024px) {
    .projectsContainer {
        width: 100%;
        padding-top: 0px;
    }
    .description {
        color: white;
        width: 80%;
        font-size: 1em;
    }
    .content {
        padding:10px;
    }
    .buttons {
        margin-top: 10px;
    }
    .buttnBlue ,
    .buttnGreen,
    .buttnOrange{
        width:75px;
      }

  
  }

/* SMALL SCREEN 640px */ 

@media screen and (max-width: 768px) {
    .projectsContainer {
        width: 100%;
        padding-top: 0px;
        display: flex;
        flex-direction: column;
    }
    .skills p {
        font-size: 0.7em;
    }
    .buttnBlue ,
    .buttnGreen,
    .buttnOrange{
        width:150px;
        height:50px;
        margin-right: 20px;
        font-size: 0.8em;
    }
    .description {
        width:100%;
        font-size: 1.5em;
    }
}
@media screen and (max-width: 640px) {
    .projectsContainer {
        width: 100%;
        padding-top: 0px;
        display: flex;
        flex-direction: column;
    }
    .skills p {
        font-size: 0.7em;
    }
    .description {
        width:100%;
        font-size: 1em;
    }
    .buttnBlue ,
    .buttnGreen,
    .buttnOrange{
        width:100px;
        height:50px;
        margin-right: 20px;
        font-size: 0.7em;
    }
}
@media screen and (max-width: 480px) {
    .buttons {
        width:100%;
    }
}


